/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #6c0cb6;
    color: #fff;
    padding: 20px;
}

header h1 {
    font-size: 36px;
    margin-bottom: 5px;
}

header p {
    font-size: 18px;
}

/* Add the #contact-info rule here */
#contact-info {
    display: none;
}

section {
    background-color: #fff;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #e213af;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

strong {
    font-weight: bold;
}

/* Specific styles for individual sections (if any) */
.personal-data {
    /* Personal Data section styles */
}

.achievements {
    /* Achievements section styles */
}

/* ... Other section styles ... */
